

    .titre{
      text-align: center;
    }

    .princip{
      max-width:1100px;
      margin:auto;
    }

    
@media screen and (max-width: 560px) 
{
    .princip
      {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 800px;
      }
    .menu{
      display:none;
      }
    }

    .menu{
      position:fixed;
      display:inline-block;
      width:25%;
      padding:0;
      padding-top: 6%;
      padding-bottom: 1%;
      border-right: 1px solid #7B12DE;
    }

    .texte{
      display:inline-block;
      width:600px;
      margin-left: 450px;
      padding-top: 8%;
    }

    .menu a{
      color:black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 8pt;
    }

    .menu a:hover{
      text-decoration: underline;
    }

     #h3{
      margin-left: 20px;
      font-size: 12pt;
    }

    h2{
      font-size: 16pt;
      padding-bottom: 2%;
      padding-top:2%;
    }


    h3{
      font-size: 14pt;
      padding-bottom: 2%;
      padding-top:2%;
    }











    